body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1
{
    font-size: 50px;
}
.heading-color
{
    color: brown;
}
.left-side
{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding: 2%;
}
.right-side
{
    width: 40%;
    float: right;
    margin-right: 5%;
    padding-left: 2%;
}
.right-side img
{
    width: 100%;
}
section
{

    height: 800px;
    
}
.top-side
{
    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;
}
